.forecast-day {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 15px 0 0 0;
    font-weight: 400;
}

.forecast-day:first-of-type {
    margin: 0;
}

.forecast-day .day-description {
    text-transform: capitalize;
}

.forecast-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.forecast-weather .weather-description {
    font-size: 10px;
    color: #C6BCB3;
}